
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Froala
@import "~froala-editor/css/froala_editor.pkgd.min.css";
@import "~froala-editor/css/froala_style.min.css";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*___________________________________________ loading ________________________________________________________________*/
.animationload {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: gold none repeat scroll 0 0;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: rgb(0, 100, 50) transparent;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    content: "";
    height: 50px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 50px;
}
@keyframes osahanloading {
    0% {
        transform: rotate(0deg);
    }
    25% {
        background: darkseagreen none repeat scroll 0 0;
        transform: rotate(90deg);
    }
    50% {
        background: darkgreen none repeat scroll 0 0;
        transform: rotate(180deg);
    }
    75% {
        background: darkseagreen none repeat scroll 0 0;
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.DRAFT{
    color: red;
    font-weight: 600;
}
.PUBLISHED{
    color: darkgreen;
    font-weight: 600;
}

/**_____________CKEDITOR_____________**/
.ck.ck-editor__editable_inline{
    background-color: white !important;
    border: 1px solid !important;
}

/**_____________Froala Image_____________**/
.classImage1 {
    border: 2px solid #efefef;
}

.classImage2 {
    opacity: 0.5;
}

.classImage3 {
    border-radius: 10%;
}

.classTable1 tbody tr:nth-child(2n) {
    background: #f9f9f9;
}

.classTable2 thead tr th, .classTable2 tbody tr td  {
    //border-style: dashed;
    border-style: none;
}
/**_____________Froala Image_____________**/
